# Add any directories, files, or patterns you don't want to be tracked by version control
obj/
bin/
packages/
packages-local/
.vs/
*.cache
*.suo
*.csproj.user
~$*
*.orig
*.dll
*.pdb
TestResults/*
!External References/*
UpgradeLog.htm

*.user

*.nupkg